<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Save Manager</title>
    <link href="global.css" rel="stylesheet">
    <script type="text/javascript" src="/eel.js"></script>
    <script type="text/javascript" src="global.js"></script>
</head>
<body>
<!--
have to call compute() from here for example when user clicks any button or something like that.
-->
<h1>Select a Game</h1>
<span id="menu"></span>
<div class="menu-element" onclick="AddGame();">+</div>


<script type="text/javascript" src="Gamesloader.js"></script>
</body>
</html>

